<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Agency:</strong>
  <%= Agency.find(@profile.agency_id).agency_name rescue "Unknown" %>
</p>

<p>
  <strong>User name:</strong>
  <%= @profile.user_name %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> 


<h3>My Inventory Items</h3>

<table id="items_table" class="display compact" cellspacing="1" width="100%" style="padding:1px">
  <thead>
    <tr>
      <th>Description</th>
      <th>Agency</th>
      <th class="hidden-xs">Street</th>
      <th class="hidden-xs">City</th>
      <th class="hidden-xs">State</th>
      <th class="hidden-xs">Zip</th>
      <th style="display:none;" class="sorting_disabled"></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th class="hidden-xs"></th>
      <th class="hidden-xs"></th>
      <th class="hidden-xs"></th>
      <th class="hidden-xs"></th>
      <th></th>
    </tr>
  </tfoot>

  <tbody>
    <% even = true; %>
    <% @items.each do |item| %>
      <tr role="row" class="<%= if even then "even" end; even = !even %>">
        <td><%= item.description %></td>
        <td><%= truncate Agency.find(item.agency_id).agency_name, length: 30, separator: /\w/, omission: "..." rescue "Unknown" %></td>
        <td class="hidden-xs"><%= item.street %></td>
        <td class="hidden-xs"><%= item.city %></td>
        <td class="hidden-xs"><%= State.find(item.state_id).state_abbr rescue "Unknown" %></td>
        <td class="hidden-xs"><%= item.zip %></td>
        <td>
         <%= link_to 'Details', item %>
         <%= link_to 'Edit', edit_item_path(item) %>
         <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $('#items_table').DataTable();
  } );
</script>