<p id="notice"><%= notice %></p>

<h1>Inventory Items</h1>

<table id="items_table" class="display compact" cellspacing="1" width="100%" style="padding:1px">
  <thead>
    <tr>
      <th>Description</th>
      <th>Agency</th>
      <th >Asset Tag#</th>
      <th>User</th>
      <th >Street</th>
      <th>City</th>
      <th >State</th>
      <th >Zip</th>
      <th style="display:none;" class="sorting_disabled"></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th ></th>
      <th></th>
      <th ></th>
      <th></th>
      <th ></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>

  <tbody>
    <% even = true; %>
    <% @items.each do |item| %>
      <tr role="row" class="<%= if even then "even" end; even = !even %>">
        <td><%= item.description %></td>
        <td><%= truncate Agency.find(item.agency_id).agency_name, length: 30, separator: /\w/, omission: "..." rescue "Unknown" %></td>
        <td ><%= item.state_asset_tag %></td>
        <td><%= item.assigned_to || "Unassigned" %></td>
        <td ><%= item.street %></td>
        <td><%= item.city %></td>
        <td ><%= State.find(item.state_id).state_abbr rescue "Unknown" %></td>
        <td ><%= item.zip %></td>
        <td>
         <%= link_to 'Details', item %>
         <%= link_to 'Edit', edit_item_path(item) %>
         <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to '', new_item_path, class: "btn btn-primary glyphicon glyphicon-plus circle" %>


    <script>
    
    
    $(document).ready(function() {
    
    //$('#items_table').DataTable();
      var datatable = $('#items_table').DataTable( {
        dom: 'frtipB',
        responsive: true,
        //buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
        buttons: {
            buttons: [
                { extend: 'copy', className: 'btn-xs' },
                { extend: 'csv', className: 'btn-xs' },
                { extend: 'excel', className: 'btn-xs' },
                { extend: 'pdf', className: 'btn-xs' },
                { extend: 'print', className: 'btn-xs' }
            ]
        }
      } );    
      
      /*
      // Setup - add a text input to each footer cell
      $('#items_table tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
      } );
      
      // Apply the search
      datatable.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
      } );
      */
    } );
    
</script>