<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<table id="items_table" class="display compact" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Description</th>
      <th>Agency</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Loc lat</th>
      <th>Loc long</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.description %></td>
        <td><%= item.agency_id %></td>
        <td><%= item.street %></td>
        <td><%= item.city_id %></td>
        <td><%= item.state_id %></td>
        <td><%= item.zip %></td>
        <td><%= item.loc_lat %></td>
        <td><%= item.loc_long %></td>
        <td><%= link_to 'Show', item %>
         <%= link_to 'Edit', edit_item_path(item) %>
         <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>

    <script>
    
    
    $(document).ready(function() {
    
      var datatable = $('#items_table').DataTable( {
        dom: 'Bfrtip',
        responsive: true,
        buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
      } );    
      
      // Setup - add a text input to each footer cell
      $('#items_table tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
      } );
      
      // Apply the search
      datatable.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
      } );
      
    } );
    
</script>