<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>
<p>
  <strong>State Asset Tag#:</strong>
  <%= @item.state_asset_tag  %>
</p>
<p>
  <strong>Agency:</strong>
  <%= Agency.find(@item.agency_id).agency_name rescue "Unknown" %>
</p>

<p>
  <strong>Assigned To:</strong>
  <%= @item.assigned_to || "Unassigned" %>
</p>

<p>
  <strong>Street:</strong>
  <%= @item.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @item.city %>
</p>

<p>
  <strong>State:</strong>
  <%= State.find(@item.state_id).state_abbr rescue "Unknown" %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @item.zip %>
</p>

<p>
  <strong>Loc lat:</strong>
  <%= @item.loc_lat %>
</p>

<p>
  <strong>Loc long:</strong>
  <%= @item.loc_long %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'List', items_path %>
