<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    <%= content_for?(:title) ? yield(:title) : "Inventory Management" %>
  </title>
  <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>

        <!-- bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- datatables  -->
        <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs/jq-2.1.4,dt-1.10.8/datatables.min.css">-->
        <!--<script type="text/javascript" src="https://cdn.datatables.net/r/bs/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/jq-2.2.0,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-html5-1.1.2,b-print-1.1.2,r-2.0.2/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/t/bs/jq-2.2.0,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-html5-1.1.2,b-print-1.1.2,r-2.0.2/datatables.min.js"></script>
        <style>
          a.buttons-html5, a.buttons-print{
            color: #111111 !important;
          }
        </style>


        <!-- font-awesome -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>

  <nav role="navigation" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">

      <div class="row">
        <!-- Title -->
        <div class="navbar-header pull-left" style="margin-left: 0px;width:50%">
          <a href="/" class="navbar-brand" style="margin-left: 0px;">Inventory Management</a>
        </div>
        
        <% if current_user && current_user.profile_id then %>
        <ul class="nav navbar-nav pull-right" style="margin-right: 0px; width:50%">
          <!-- This works well for static text, like a username -->
          <!-- Add any additional bootstrap header items.  This is a drop-down from an icon -->
          <li class="dropdown pull-right" style="vertical-align:middle">
            <a href="#" data-toggle="dropdown" style="color:#777;" class="dropdown-toggle">
              <img src="<%= gravitar_url + "&s=15" %>" />
              <%= current_user.name.split[0] %>&nbsp<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/profiles/<%= current_user.profile_id %>" title="Profile">Profile</a>
              </li>
              <li>
                <%= link_to "Sign out", signout_path, id: "sign_out" %>
              </li>
            </ul>
          </li>
        </ul>
        <% end %>
      </div>

      <div class="row">

        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-left">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- The Collapsing items            navbar-left or navbar-right -->
        <div class="collapse navbar-collapse navbar-left " style="clear:both;">
          <!--                      pull-right keeps the drop-down in line -->
          <ul class="nav navbar-nav">
            <li id="homeTab"><a href="/">Home</a></li>
            <li id="mapTab"><a href="/map">Map</a></li>
            <li id="qrTab"><a href="/qr">QR Labels</a></li>
            <li id="reportsTab"><a href="/reports">Reports</a></li>
            <li id="searchTab"><a href="/items">Search</a></li>
            <!--<li><a href="#about">About</a></li>-->
            <!--<li><a href="#contact">Contact</a></li>-->
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!--<% if :notice %>-->
  <!--<div class="container" style="color:red;">-->
  <!--  <% flash.each do |key, value| %>-->
  <!--  <p><%= value %></p>-->
  <!--  <% end %>-->
  <!--</div>  -->
  <!--<% end %>-->

  <div class="container">
    <%= yield %>
  </div>
  <footer class="footer navbar-inverse">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>Copyright (c) 2016</p>
        </div>
        <div class="col-sm-6">
          <%= link_to "About", "/about" %><br/>
          <%= link_to "Contact", "/contact" %>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>
